body {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: Arial;
    position: center;
    width: 900px;
    flex: 1 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.topnav a:hover{
    color: gray;
}

.topnav {
    background-color: black;
    position: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topnav a{
    color: white;
    text-align: center;
    font-size: 20.5px;
    text-decoration: none;
    padding: 17px;
}

 a.current{
    color: white;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20.5px;
    text-decoration: none;
    padding: 17px;
 }

  .bolded {
      font-weight: bold;
  }

  p.indent {
    text-indent: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 64px;
  }

.form{
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: black;
  color: white;
  bottom: 100px;
}