body {
    background-color: white;
    font-family: Arial;
    padding-left: 300px;
    padding-right: 300px;
    position: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    color: navy;
    margin-left: 20px;
}

.topnav a:hover{
    color: grey;
}

.topnav {
    background-color: black;
    position: center;
    overflow: hidden;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
}

.topnav ul{
    display: inline-block;
}

.topnav a{
    color: white;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    padding: 14px 16px;
}

a.current {
    background:red;
    color:white;
  }

  .topnav a.current{
    color: white;
    background-color: red;
  }

  .bolded {
      font-weight: bold;
  }

  p.indent {
    text-indent: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 2px;
    vertical-align: middle;
    width: 100px;
  }